// 共有样式
$color: #daa520;
// home 頁面顏色
$Nav-style:#d0effc;
$Form-header-style:#f8f8f8;
$Button-style:#006893;
$Table-header-style:#e0edf1;
$backGroundColor: #d1eefc;
$btnColor:#006694; //按钮选中状态
$main:#0785ba; //主题色
$bg-th:#e1ecf2; // 表格表頭背景色
$smallBg: #ecf2f4; //詳情頁小標題背景
$submitColor:#ff8a00; //提示信息
